<footer class="bg-lime-500 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <p>&copy; <%= Time.now.year %> Cedric Sumaoang. Project for RRC Polytech. All rights reserved.</p>
    <nav>
      <ul class="flex space-x-4">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>