<div class="flex justify-center items-center h-screen my-auto">
  <div class="max-w-4xl mx-auto p-6 bg-white rounded shadow-lg">
    <h1 class="text-4xl font-bold mb-4">Categories</h1>
    
    <div class="grid grid-cols-1 gap-4">
      <div class="p-4 bg-lime-500 text-white rounded-lg shadow">
        <%= link_to 'Games', games_path, class: 'text-xl font-semibold hover:underline' %>
      </div>
      <div class="p-4 bg-lime-500 text-white rounded-lg shadow">
        <%= link_to 'Characters', characters_path, class: 'text-xl font-semibold hover:underline' %>
      </div>
      <div class="p-4 bg-lime-500 text-white rounded-lg shadow">
        <%= link_to 'Bosses', bosses_path, class: 'text-xl font-semibold hover:underline' %>
      </div>
      <div class="p-4 bg-lime-500 text-white rounded-lg shadow">
        <%= link_to 'Items', items_path, class: 'text-xl font-semibold hover:underline' %>
      </div>
    </div>
  </div>
</div>

