<div class="mt-8 h-screen my-auto">
  <h1 class="text-2xl font-bold mb-4">Characters</h1>

  <div class="grid grid-cols-1 gap-4">
    <% @characters.each do |character| %>
      <div class="bg-white rounded shadow p-4">
        <h2 class="text-xl font-bold">
        <%= link_to character['name'], character_path(character['id']) %>
        </h2>
      </div>
    <% end %>
  </div>

  <%= paginate @characters %>
</div>
