<div class="mt-8 h-screen my-auto">
  <h1 class="text-2xl font-bold mb-4">About Zelda API Data Project</h1>
  <div class="bg-white rounded shadow p-4">
    <h2 class="text-xl font-bold">Data Source</h2>
    <p>The Zelda API provides detailed data on games, characters, bosses, and items from the Zelda universe, structured in JSON format. Each dataset includes specific fields such as names, descriptions, and unique IDs. For example, the games dataset include fields like name, description, developer, and release date. The data will be displayed on dedicated pages within a web application, allowing users to explore detailed information about each category.</p>
    <br>
    <h2 class="text-xl font-bold">Usage in the Project</h2>
    <p>To store and manage this data, we will create database tables for 4 categories: games, characters, bosses, and items. The relationships between different datasets will be maintained by storing related game IDs in the respective tables. This structure allows for things such as viewing all games an item appears in or the characters encountered in a specific game.</p>
    <br>
    <h2 class="text-xl font-bold">Database ERD</h2>
    <%= image_tag("zelda_erd.png", alt: "Database ERD for Zelda API", class: "mt-4 rounded-lg shadow-md") %>
  </div>
</div>